@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;900&display=swap');

/* Fonts */
@font-face {
  font-family: 'Corvetta';
  src: local('Corvetta'), url('../font/Corvetta-Black.ttf');

/* Basic settings */
html {
  font-size: 8px;
}

body {
  background-size: 100%;
  background-attachment: fixed;
  background: #121212 url(../img/background.png);
  font-family: "Nunito";
  font-weight: 900;
  font-size:  8rem;
  padding-top: 4rem;
  padding-left: 5%;
  padding-right: 5%;
}
h1 {
  text-align:  center;
  color: #f4a83b;
  font-size: 4rem;
  line-height: 4rem;
  font-family: "Nunito";
  font-weight: 600;
}

/* Style settings */
.text{
  color: white;
  margin-left:  1rem;
}

li {
  text-align: center;
  color:  transparent;
  margin-bottom: 1rem;
}

a {
  text-align:  center;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  width: 10%;
  border-bottom: 2px solid transparent;
  transition: .5s;
  padding-bottom: 1px;
  text-decoration:  none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px solid #f4a83b;
} 

/* Adaptive settings */
div.table-of-contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

div.table-of-contents > div.column {
    /* width: 50%; */
    margin-left: 12px;
    margin-right: 12px;
    flex-grow: 1;
    font-family: "Nunito";
    font-weight: 600;
    font-size:  2rem;
}

div.table-of-contents > div.column > div.section {
    vertical-align: top;
}

table.table-of-contents {
    width: 100%;
    border-collapse: separate;
    border-spacing: 25px;
}

div.table-of-contents > div.column > div.section {
    text-align: center;
}
